.card{
    height:400px ;
    width: 250px;
    background: silver;
    box-sizing: border-box;
   padding-top:50px;
}
.fa-star{
    font-size:30px;
}
.icon{
    display: flex;
justify-content: center;
align-items: center;

}
.description> h3{
text-align: center;

}
.description> p{
    padding:20px;
box-sizing: border-box;
    text-align:justify ;
}
.butoon-box{
display: none;
    align-items: center;
    justify-content: center;
}
.butoon-box>button{
height: 50px;
   width: 150px;
    background: aquamarine;
}